ansible-core==2.15.13
argcomplete==3.6.3
cffi==2.0.0
click==8.1.8
colorama==0.4.6
cryptography==43.0.3
importlib-resources==5.0.7
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
packaging==26.0
pillow==11.3.0
pipx==1.8.0
platformdirs==4.4.0
psycopg==3.2.13
psycopg2==2.9.11
psycopg2-binary==2.9.11
pycparser==2.23
PyPDF2==3.0.1
python-docx==1.2.0
python-pptx==1.0.2
PyYAML==6.0.3
resolvelib==1.0.1
tomli==2.4.0
typing_extensions==4.15.0
tzdata==2026.1
userpath==1.9.2
xlsxwriter==3.2.9
asgiref==3.11.1
Django==5.2.11
sqlparse==0.5.5
Gunicorn==25.3.0
whitenoise
azure-storage-blob
django-storages